/*____________________GENERAL____________________*/
body,html {
    display: grid;
    align-items: center;
    justify-content: center;
    /*background: url("./css/images/background-home.jpg") repeat fixed;*/
    background: #F8F0DF;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*h2 {*/
/*    padding: 25px;*/
/*    color: #F8F0DF;*/
/*}*/



.containerIcon{
    padding: 75px 0 0 0;
}

hr {
    margin: 20px 0 25px 0;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background: #FF5C58!important;
    border-color: #FF5C58!important;
    padding: 2px;
}

/*____________________NAVBAR/HEADER____________________*/
/*TODO add hover effect*/
#top {
    color: #79B4B7;
}




/*____________________HERO____________________*/
.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    background: #79B4B7;
    border-radius: 30% 50%;
}

.profile-picture{
    border: double  10px #FF5C58 ;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.hero-text {
    text-align: left;
    color: #F8F0DF;
}

/*____________________PROJECTS____________________*/
.projects-gallery{
    display: flex;
}

.card {
    border: none;
}
.badge{
    margin: 0 2px;
    background: #79B4B7;
}


/*____________________SKILLS____________________*/
/*____________________ABOUT____________________*/
.about-text{
    text-align: justify;
}

/*____________________CONTACT____________________*/
.contact{
    display: flex;
    padding: 0 0 40px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
}

.contact-text{
    text-align: justify;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details{
    text-align: justify;
}

.copy-email{
    border: none;
    background-color: white;
}

.contact-icon{
    color: #FF5C58;
    margin-right: 10px;
}


/*____________________FOOTER____________________*/
/*____________________GOTOTOP____________________*/














/*TODO add cursor image*/
/*TODO make company icon dynamic with gif*/




