/*TODO add cursor image*/
/*TODO make company icon dynamic with gif*/
/*____________________GENERAL____________________*/
body, html {
    display: grid;
    align-items: center;
    justify-content: center;
    /*background: url("./css/images/background-home.jpg") repeat fixed;*/
    background: #F8F0DF;
    background-size: cover;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    padding: 5px 25px 25px 25px;
    color: #79B4B7;
}
h2:hover{
    text-decoration: underline dotted;
}
.containerIcon {
    padding: 120px 0 0 0;
}
a {
    text-decoration: none;
    color: #FCD2D1;
}
a:hover {
    color: #FF5C58;

}
button {
    background: #FF5C58 !important;
    border-color: #79B4B7 !important;
    margin: 5px;
    color: #FCD2D1;
    border-radius: 30% 50% !important;
    padding: 15px;

}
button:hover {
    border: 2px #FF5C58 !important;
    transform: scale(1.1);
}
/*TODO: fix active effect*/
button:active {
    border: 2px double #FF5C58 !important;
    transform: scale(1.1);
}
/*____________________NAVBAR/HEADER____________________*/
.navbar-brand {
    color: #79B4B7 !important;
}
.nav-link {
    color: #79B4B7 !important;
}
/*TODO: add padding between text and underline*/
.nav-link:hover {
    text-decoration: underline double #FF5C58;
}

/*____________________HERO____________________*/
.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: baseline;
    padding: 100px 0;
    background: #79B4B7;
    border-radius: 30% 62%;
    margin-top: 20px;
}

.hero:hover{
    transform: scale(0.9);

}
.profile-picture {
    border: double 10px #FF5C58;
}
.profile-picture:hover {
    transform: rotate(-0.1turn);
}
.hero-text {
    text-align: left;
    color: #F8F0DF;
}
h3{
    padding-bottom:15px;
}

/*____________________PROJECTS____________________*/
.projects-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}
.card {
    background-color: #79B4B7;
    margin: 15px;
    border-radius: 62% 30%;
    padding: 50px 25px;
    min-width: 300px;
}
.card:hover{
    transform: rotate(10deg)
}
.card-title {
    color: #F8F0DF !important;
    text-align: right;

}
.card-badge-container {
    text-align: right;
}
.card-badge {
    margin: 0 2px;
    background: #F8F0DF;
    color: #79B4B7;
    border-radius: 30% 50% !important;
}
.card-img-top {
    width: 300px;
    margin: 15px 0;
}
.card-text {
    text-align: right;
    padding: 8px 0;
}
.card-button {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

/*____________________SKILLS____________________*/
.skills {
    padding: 100px 0 50px 75px;
    background: #79B4B7;
    border-radius: 30% 62%;
    margin-top: 50px;
}
.skills-badge-pebble1 {
    font-size: 12px;
    margin: 0 2px;
    padding: 4px;
    background: #F8F0DF;
    color: #F8F0DF;
    border-radius: 30% 50% !important;
}
.skills-badge-pebble2 {
    font-size: 5px;
    margin: 0 2px;
    padding: 2px;
    background: #F8F0DF;
    color: #F8F0DF;
    border-radius: 50% 30% !important;
}
.skills-badge-premium {
    font-size: 16px;
    margin: 0 2px;
    padding: 8px;
    background: #F8F0DF;
    color: #79B4B7;
    border-radius: 50% 30% !important;
}
.skills-badge-top {
    font-size: 18px;
    padding: 10px;
    margin: 0 2px;
    background: #F8F0DF;
    color: #79B4B7;
    border-radius: 30% 50% !important;
}
.skills-badge-medium {
    font-size: 20px;
    padding: 10px;
    margin: 0 3px;
    background: #F8F0DF;
    color: #79B4B7;
    border-radius: 50% 30% !important;
}
.skills-badge-basic {
    font-size: 20px;
    padding: 10px;
    margin: 0 4px;
    background: #F8F0DF;
    color: #79B4B7;
    border-radius: 30% 50% !important;
}
.skills-badge-pebble1:hover{
    transform: scale(1.1) rotate(10deg);
}
.skills-badge-pebble2:hover{
    transform: scale(1.1) rotate(10deg);
}
.skills-badge-premium:hover{
    transform: scale(1.1) rotate(10deg);
    color: #FF5C58;
}
.skills-badge-top:hover{
    transform: scale(1.1) rotate(10deg);
    color: #FF5C58;
}
.skills-badge-medium:hover{
    transform: scale(1.1) rotate(10deg);
    color: #FF5C58;
}
.skills-badge-basic:hover{
    transform: scale(1.1) rotate(10deg);
    color: #FF5C58;
}
.skills-badge-premium:hover{
    transform: scale(1.1) rotate(10deg);
    color: #FF5C58;
}

/*____________________ABOUT____________________*/
.about-text {
    text-align: justify;
}

/*____________________CONTACT____________________*/
.contact {
    display: flex;
    padding: 0 0 40px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
}
.contact-text {
    text-align: justify;
}
.contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details {
    text-align: justify;
}
.copy-email {
    border: none;
    background-color: white;
}
.contact-icon {
    color: #FF5C58;
    margin-right: 10px;
}

/*____________________FOOTER____________________*/
.footer-container {
    color: #79B4B7;
    margin-top: 100px;
    padding: 10px
}

/*____________________GOTOTOP____________________*/
.go-to-top {
    padding-top: 15px;

}







